/* You can add global styles to this file, and also import other style files */
html,
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: #161a20;
  color: #CBE1FF;
}

.btn {
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 1em ;
  font-size: 16px;
  width: 100%;
  margin-top: 2em;
}

@import './assets/styles/index.scss';